/* CSS Document */
#container {
	margin: 0 auto;
	text-align: center;
}
h1 {
	font-size: 80px;
	margin-left: 350px;
	font-style: italic;
	font-weight: 200;
	margin-bottom: 100px;
}
h2 {
	font-size: 40px;
	margin-bottom: 0;
}
h3 {
	font-size: 20px;
}
#container ul li {
    position: relative;
    display: inline-block;
	width: 500px;
	margin: 100px;
	
}
#container ul li .text {
    width: 260px;
    background-color: rgba(20,20,20,0.70);
    color: #fff;
	font-size: 15px;
	text-indent: 2em;
    border-radius: 10px;
    padding: 22px 22px;
    position: absolute;
    z-index: 1;
    bottom: 70%;
    left: 70%;
}

#container ul {
	list-style: none;
	width: 1800px;
}
#container ul li img {
	width: 300px;
	height: 400px;
	
}
.nav {
	position: fixed;
	left: 100px;
	top: 300px;
	font-size: 28px;	
}
.nav ul {list-style: none;}
.nav ul li {
	margin-bottom: 30px;
}
.nav ul li a {text-decoration: none;color: #000;}
.nav ul li a:hover {
	color: #0C7F2E;
}
.footer {
	text-align: center;
	margin: 0 auto;
	width: 900px;
	padding: 20px;
	border-top: solid 1px;
}
